
#wpcontent {
  padding: 0 !important;
}
.Mns_Tbl_Body_Table_Column {
  padding-left: 0 !important;
}
.Mns_Tbl_Body_Table_Img_Col {
  width: 90px !important;
  padding-left: 0 !important;
}
.Mns_Tbl_Fld_Img {
  float: left !important;
}
.Mns_Tbl_Body_Table_Ctrl_Col_Head,
.Mns_Tbl_Body_Table_Ctrl_Col {
  width: 50px;
}
#Categories_visibility_Header,
#Categories_visibility_Footer {
  text-align: center;
}
.Mns_Tbl_Body_Table_Ctrl_Col {
  text-align: center;
}
#DIV_Table {
}
.Mns_Tbl_Body_Table_Column_small {
  width: 90px;
}
#DIV_Edit {
  display: none;
  min-width: 397px;
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
.VisibileWrap {
  display: inline-block;
  text-align: left;
  width: 95px;
  float: left;
}
.VisibileWrap lbl {
  line-height: normal;
}
#FLD_Visibility {
  float: right !important;
  width: 50px !important;
  margin: 0 !important;
  margin-top: 4px !important;
}
#CodeMsg {
  display: none;
  width: 500px;
  border: 1px solid rgba(255,0,0,.1);
  padding: 2px 10px;
  font-weight: bold;
  -webkit-box-shadow: 2px 4px 6px 0 rgba(255,0,0,.1);
  box-shadow: 2px 4px 6px 0 rgba(255,0,0,.1);
  margin-bottom: 1em;
}
#TransList {
  width: 100%;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 1em;
  float: left;
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
#CatTransTbl {
  width: 100%;
  border-collapse: collapse;
}
#CatTransTbl th {
  background-color: #095256;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-align: left;
}
#CatTransTbl td {
  padding: 5px;
} 
.LangCol {
  width: 150px;
}
.Mns_Edit_Wrapper {
  width: 100%;
  min-width: 397px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  background: white !important;
  padding: 10px;
}
#CatImgDiv {
  min-width: 220px;
  display: table-cell;
}
.DIV_Cur_Img {
  width: 100%;
  margin-top: 10px;
  padding-right: 1em;
  border-right: 1px solid #f1f1f1;
}
.Mns_Img_Container {
  width: 100%;
  height: 220px;
}
.Mns_Img_Container img {
  width: 100%;
  height: 210px;
}
.Mns_Img_Container img[src=""] {
  display: none;
}
.ImgBtnDiv {
  width: 100%;
}
.ImgBtnDiv button{
  width: 50%;
  float: left;
}
#CatInputDiv {
  width: 100%;
  min-width: 380px;
  padding-left: 1em;
  display: table-cell;
}
.ChckLbl {
  margin-left: 1em;
}
#CatNameDiv {
  width: 100%;
}
#CatNameDiv input {
  float: left;
  width: 100%;
}
#CatNameDiv .button {
  display: block;
  float: right;
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: -6px;
  margin-right: -6px;
  border: none;
  box-shadow: none;
  background-color: #095256;
  color: #FFFFFF;
  cursor: pointer;
}
#CatNameDiv .button:hover {
  color: red;
}
#CatNameDiv .button:focus {
  color: red;
}
#CatNameDiv .button i {
  display: block;
  margin-top: -1px;
}
.CatAttrWrap {
  width: 100%;
  margin-top: 2em;
}
.AttrListWrap {
  display: table-cell;
  vertical-align: top;
  min-width: 250px;
  width: 250px;
  padding-top: 10px;
  border-top: 1px solid #f1f1f1;
}
.CatAttrWrap .button {
  background: #204D74;
  color: white;
  width: 30px;
  border: none;
  box-shadow: none;
  float: right;
}
.CatAttrWrap .button:hover {
  background-color: #2B6EA5;
  color: white;
}
.CatAttrWrap .button:focus {
  background-color: #2B6EA5;
  color: white;
}
.AttrLblDiv {
  width: 100%;
  line-height: 15px;
}
.AttrLblDiv label {
  float: left;
}
#BTN_AddAttr {
  display: inline-block;
  text-align: center;
  float: right;
  margin-right: 1em;
}
#AttrListDiv {
  width: 100%;
}
.AttrListDivWrap {
  width: 100%;
  height: 400px;
  overflow: auto;
  padding-right: 1em;
}
#AttrListDataWrap {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #f1f1f1;
}
.NewAttrDiv {
  max-width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
.NewAttrDiv .AttrDataDiv {
  width: 100%;
  padding: 5px;
}
.AttrHeaderDiv {
  width: 100%;
  padding-left: 10px;
  line-height: 2em;
}
.AttrNameSpan {
  text-transform: uppercase;
}
.AttrNameSpan i {
  margin-right: 5px;
}
.SelectedAttr,
.SelectedAttr i {
  font-weight: bold;
  background: green;
  color: white;
}
.AttrCtrlBtn {
  display: inline-block;
  color: black;
  float: right;
  margin-right: 6px;
}
.AttrCtrlBtn:hover,
.AttrCtrlBtn:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
.AttrDataDiv {
  display: none;
}
.AttrStdDiv {
  min-width: 150px;
  display: table-cell;
}
.AttrValueWrap {
  margin-top: 10px;
  padding-left: 1em;
  border-left: 1px solid #f1f1f1;
}
.AttrValDiv {
  width: 100%;
}
.ValueInputDiv {
  padding: 0 !important;
  width: 100%;
  display: none;
}
.ValueInputDiv input {
  width: 95.4%;
  float: left;
}
.BTN_EditAttrVal {
  display: block;
  width: 25px;
  height: 27px;
  padding: 0;
  border: none;
  box-shadow: none;
  background: green;
  color: white;
  cursor: pointer;
  margin-top: 1px;
  float: right;
}
.BTN_EditAttrVal:hover {
  background-color: #399B00;
  color: white;
}
.BTN_EditAttrVal:focus {
  background-color: #399B00;
  color: white;
}
.BTN_EditAttrVal i {
  display: block;
  margin-top: -1px;
}
.AttrValListDiv {
  width: 100%;
  max-height: 450px;
  overflow: auto;
}
.RgnTypeBtn {
  width: 250px;
  float: left;
  margin: 10px;
  margin-left: 0;
  line-height: 2em;
  padding-left: 10px;
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
.RgTpBtns {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}
.Modal_Wrapper .button {
  background: #204D74;
  color: white;
  float: right;
  border: none;
  box-shadow: none;
}
.Modal_Wrapper .button:hover {
  background-color: #2B6EA5;
  color: white;
  cursor: pointer;
}
@media all and (max-width: 1200px) {
  .Mns_Img_Container {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .Mns_Img_Container img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
@media all and (max-width: 783px) {
  #CatNameDiv .button {
    width: 35px;
    height: 35px;
  }
  .BTN_EditAttrVal {
    width: 35px;
    height: 35px;
  }
}
@media all and (max-width: 580px) {
  #CatImgDiv {
    width: 100%;
    display: inline-block;
    margin-bottom: 1em;
  }
  #CatInputDiv {
    width: 100%;
    display: inline-block;
  }
}
